.images {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 150px;
}

.webpage {
    background-color: rgba(223, 218, 210, 0.719);
}

.title {
    text-align: center;
    color: rgb(0, 0, 0);
}

.cardbox {
    color: white;
    background-color: rgb(50, 148, 58);
    text-align: center;
    width: 750px;
    margin: auto;
    border-radius: 425px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    padding-bottom: 30px;
}

.recipelist {
    color: white;
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 30px;
    list-style-type: none;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 40px;
}

